.section__edit-team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;

  .form__edit-team {
    display: flex;
    width: auto;
    padding: 32px 0 0 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;

    mat-form-field {
      width: 320px;
    }
  }

  .button__edit-team {
    width: 320px;
  }
}
