.container__content {
  padding: 0 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 16px;

  .section__list-container {
    display: flex;
    padding: 0 8px;
    flex-direction: column;
    align-items: stretch;
    align-self: stretch;
  }

  .button__create-team {
    align-self: flex-end;
  }
}
